.online-booking {
  padding-bottom: cross-media(30px, 991px, 60px);
  &__container {
    display: grid;
    justify-items: center;
    gap: cross-media(30px, 991px, 60px);
  }
  &__plugin {
    width: 100%;
    // max-width: 660px;
    // border: solid 1px $accent;
    // border-radius: 30px;
    // padding: 100px;
  }

  &__text-container {
    margin-top: cross-media(20px, 991px, 40px);
    text-align: center;
  }

  &__retreat {
    padding-bottom: cross-media(12px, 991px, 20px);
  }

  &__options {
    padding-block: cross-media(20px, 991px, 40px);
  }

  &__totals {
    padding-block: cross-media(20px, 991px, 40px);
    text-align: right;
  }

  &__form {
    display: grid;
    row-gap: 12px;
  }

  &__rooms-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: cross-media(8px, 991px, 16px);
    margin-top: 12px;
  }

  &__terms-container {
    & a {
      text-decoration: underline;
    }
  }

  &__bottom {

    @include view(lg-min) {
      display: flex;
      justify-content: space-between;
  
    }
  }

  &__coupon-container {
    padding-block: cross-media(20px, 991px, 40px);
  }

  &__paypal-button-container {
    max-width: 300px;
    margin-top: 30px;
    margin-inline: auto;
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: red;
  }
}

.faq {
  padding-top: cross-media(30px, 991px, 60px);

  &__heading {
    padding-bottom: cross-media(30px, 991px, 60px);
  }
}

// Form
.contact-form {
  width: 100%;
  & select {
    background-color: rgba($white, 0.8);
    border: none;
    padding: 16px;
  }

  &__message-field {
    & p,
    & textarea {
      height: 100%;
    }

    & textarea {
      max-height: 360px;
    }
  }
}

// Archive
.retreat-archive {
  padding-block: cross-media(20px, 991px, 30px) cross-media(60px, 991px, 130px);

  &__grid {
    display: grid;
    gap: cross-media(30px, 991px, 60px);
    @include view(lg-min) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__retreat {
    display: grid;
    position: relative;
    // padding: cross-media(28px, 991px, 56px) cross-media(10px, 991px, 20px);
    padding: 56px 20px;
    border: solid 1px $black;
    color: $black;
    transition: all ease 300ms;

    &:only-child {
      @include view(lg-min) {
        grid-column: 2;
      }
    }

    &:hover {
      background-color: $black;
      color: $white;
    }

    &--sold-out {
      background-color: $accent;
      border-color: $accent;
      color: $white;

      &:hover {
        background-color: $accent;
        color: $white;
      }
    }
  }

  &__status {
    position: absolute;
    bottom: 12px;
    width: 100%;
  }
}

/*
// Hotelier
.online-booking__plugin {
  width: 100%;
}
#primary {
  padding-top: cross-media(150px, $box, 350px); // first-section
  // boxed
  max-width: $box + $padding-inline;
  padding-inline: $padding-inline;

  @include view(ultra) {
    max-width: $box-4k + $padding-inline;
  }

  margin-inline: auto; // centered
}

// .room__thumbnail {
//   display: none;
// }

#sidebar,
.datepicker-form,
.selected-nights,
.room__link,
.room__max-guests,
.add-to-cart-selected,
.online-booking h1 {
  display: none;
}

.hotelier-notice {
  & li {
    margin: 0;
    list-style-type: none !important;
  }
}

.listing__list {
  padding-inline: 0;
}

.listing__room {
  list-style-type: none !important;
  margin-left: 0 !important;
  border: solid 1px #a19696;
  border-radius: 30px;
  padding: 60px;

  & img {
    display: none;
  }
}

.room__actions {
  width: 100%;
}

.room__price-wrapper {
  text-align: center;
}

.button--toggle-rates {
  width: fit-content;
  margin-inline: auto;
}
*/
