//Curve
.intro {
  &__benefits-list {
    margin-bottom: cross-media(60px, 1800px, 180px);
    max-width: 100vw;
    overflow: hidden;
  }

  &__benefits-curve {
    position: relative;
    // width: 100%;
    // height: 115px;
    margin-block: 35px calc(cross-media(135px, $box, 460px) * (-1));
    overflow: hidden;
  }
}
