.body {
  overflow-x: hidden;
  background-color: $primary;
  font-family: "Montserrat";
}

input[type="submit"],
input[type="Reset"] {
  -webkit-appearance: none;
}

.white-menu-items {
  & .header__logo,
  .hamburger {
    filter: invert(100%);

    &--pressed {
      filter: revert;
    }
  }

  & .main-menu {
    & a {
      @include view(lg-min) {
        color: $white;
      }
    }
  }

  // Sticky Header
  & .header--sticky,
  & .header--dropdown {
    & .header__logo {
      filter: revert;
    }
    & .hamburger {
      filter: revert;
    }

    & .main-menu {
      & a {
        color: $black;
      }
    }
  }

  // & .header--dropdown {
  //   background-color: $primary;
  // }
}

.no-booking-cta {
  & .book-cta {
    display: none;
  }
}

a {
  @include clear-styles;
}

ul,
li {
  @include clear-styles;
}

button {
  cursor: pointer;
}
