// Colors
$white: #fff;
$black: #000;
$primary: #eceaea;
$accent: #a19696;
$secondary: #3b3232;

// Boxes
$box: 1800px;
$box-s: 1280px;
$box-xs: 1000px;

// 4K
$box-4k: 2260px;
$box-s-4k: 1920px;
$box-xs-4k: 1500px;

// Padding
$padding-inline: 20px;
$padding-inline-laptop: 60px;

//Ultra Scale
$ultra-scale: 1.3;
$ultra-breakpoint: 2560px;
