.online-booking {
  padding-bottom: cross-media(30px, 991px, 60px);
  &__container {
    display: grid;
    justify-items: center;
    gap: cross-media(30px, 991px, 60px);
  }
  &__plugin {
    width: 100%;
    // max-width: 660px;
    // border: solid 1px $accent;
    // border-radius: 30px;
    // padding: 100px;
  }

  &__text-container {
    margin-top: cross-media(20px, 991px, 40px);
    text-align: center;
  }

  &__retreat {
    padding-bottom: cross-media(12px, 991px, 20px);
  }

  &__options {
    padding-block: cross-media(20px, 991px, 40px);
  }
}

.faq {
  padding-top: cross-media(30px, 991px, 60px);

  &__heading {
    padding-bottom: cross-media(30px, 991px, 60px);
  }
}

// Form
.contact-form {
  width: 100%;
  & select {
    background-color: rgba($white, 0.8);
    border: none;
    padding: 16px;
  }

  &__message-field {
    & p,
    & textarea {
      height: 100%;
    }

    & textarea {
      max-height: 360px;
    }
  }
}

/*
// Hotelier
.online-booking__plugin {
  width: 100%;
}
#primary {
  padding-top: cross-media(150px, $box, 350px); // first-section
  // boxed
  max-width: $box + $padding-inline;
  padding-inline: $padding-inline;

  @include view(ultra) {
    max-width: $box-4k + $padding-inline;
  }

  margin-inline: auto; // centered
}

// .room__thumbnail {
//   display: none;
// }

#sidebar,
.datepicker-form,
.selected-nights,
.room__link,
.room__max-guests,
.add-to-cart-selected,
.online-booking h1 {
  display: none;
}

.hotelier-notice {
  & li {
    margin: 0;
    list-style-type: none !important;
  }
}

.listing__list {
  padding-inline: 0;
}

.listing__room {
  list-style-type: none !important;
  margin-left: 0 !important;
  border: solid 1px #a19696;
  border-radius: 30px;
  padding: 60px;

  & img {
    display: none;
  }
}

.room__actions {
  width: 100%;
}

.room__price-wrapper {
  text-align: center;
}

.button--toggle-rates {
  width: fit-content;
  margin-inline: auto;
}
*/
