// Loader
.loader {
  display: grid;
  place-content: center;
  background-color: $accent;
  position: fixed;
  inset: 0;
  z-index: 999;
  &__spinner {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 4px solid $primary;
    box-sizing: border-box;
    // animation: rotation 1s linear infinite;

    &::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      left: 8px;
      top: 8px;
      border: 4px solid $primary;
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
  }
}

// Hamburger Menu
.hamburger {
  display: flex;
  position: relative;
  z-index: 2;
  width: 36px;
  height: 3px;
  background: $accent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  @include view(lg-min) {
    display: none;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 36px;
    height: 3px;
    background: $accent;
    transition: all 0.5s ease-in-out;
  }

  &:before {
    transform: translateY(-10px);
  }

  &:after {
    transform: translateY(10px);
  }

  &--pressed {
    transform: translateX(-50px);
    background: transparent;

    &:before {
      transform: rotate(45deg) translate(35px, -35px);
    }

    &:after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }

  @include view(lg-min) {
    display: none;
  }
}

// Back to Top
.back-to-top {
  position: absolute;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: cross-media(24px, 991px, 48px);
  padding: cross-media(12px, 991px, 18px) cross-media(10px, 991px, 16px);
  background-color: $black;
  color: $white;
  opacity: 0;
  transform: rotate(-90deg);
  transition: opacity ease 0.2s;
  cursor: pointer;

  &::after {
    @include icon("\e902");
    font-size: 10px;
  }

  &--visible {
    visibility: visible;
    opacity: 1;
  }
}

// Button
.button {
  position: relative;
  z-index: 0;
  padding: cross-media(7px, 991px, 14px) cross-media(32px, 991px, 64px);
  border: solid 1px $black;
  // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: color 0.3s ease;

  &:hover {
    color: $white;
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $black;
    z-index: -1;
    transition: clip-path 0.3s ease;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  &:hover {
    &:before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  &--plain {
    position: relative;
    padding-inline: 0;
    border: none;
    background: transparent;

    &:hover {
      color: revert;
    }

    &:before {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url(./../../assets/img/ic-curve.svg);
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 0;
      width: 95%;
      height: 100%;
      left: 0;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      transition: clip-path 0.3s ease;
    }
    &:hover::after {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
}

// Drag Custom Cursor
.cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba($white, 0.4);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  pointer-events: none;
  transition: opacity 0.4s, width ease 0.8s, height ease 0.8s,
    background-color ease 0.3s, border-radius ease 0.8s;
  will-change: scale;

  &--active {
    // background-color: $white-op-80;
    opacity: 1;
    width: cross-media(80px, 991px, 120px);
    height: cross-media(80px, 991px, 120px);
    backdrop-filter: blur(15px);

    @include view(ultra) {
      width: cross-media(120px, 3000px, 180px);
      height: cross-media(120px, 3000px, 180px);
    }

    &:after {
      content: "drag";
      color: $white;
      // font-size: cross-media(14px, 3000px, 16px);

      // @include view(ultra) {
      //   font-size: cross-media(16px, 3000px, 24px);
      // }
    }
  }

  // &--clicked {
  //   background-color: rgba($accent, 0.6);
  // }
}
