// Intro
.intro--contact {
  .intro__heading {
    padding-bottom: 0;
  }
}

// Contact Info
.contact-info {
  padding-bottom: cross-media(35px, 991px, 50px);
  &__container {
    display: grid;
    gap: cross-media(20px, 991px, 30px);
  }
}

//Contact Form
.contact-form {
  padding-block: cross-media(20px, 991px, 30px) cross-media(60px, 991px, 130px);
  &__container {
    display: flex;
    justify-content: center;
  }
  & .wpcf7 {
    width: 100%;
  }
  & .wpcf7-list-item {
    margin: 0;
  }
  &__content {
    display: grid;
    gap: 0 35px;
    @include view(lg-min) {
      grid-template-columns: 1fr 1fr;
      & .contact-form__acceptance,
      & .contact-form__submit {
        grid-column: 1/3;
        justify-self: center;
      }
    }
  }
  &__info-fields {
    display: grid;
  }
  & label {
    font-size: 12px;
    text-transform: uppercase;
    color: $secondary;

    @include view(ultra) {
      font-size: cross-media(
        12px,
        $ultra-breakpoint,
        calc(12px * $ultra-scale)
      );
    }
  }
  &__input-field {
    background-color: rgba($white, 0.8);
    border: none;
    width: 100%;
    padding: 18px;
  }
  &__acceptance {
    margin-top: 40px;
    padding-block: cross-media(35px, 991px, 50px) cross-media(5px, 991px, 10px);
  }

  & a {
    color: $black;
    position: relative;
    padding-inline: 0;
    border: none;
    background: transparent;

    &:before {
      display: none;
    }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   background-image: url(./../../assets/img/ic-curve.svg);
    //   background-position: bottom left;
    //   background-repeat: no-repeat;
    //   background-size: contain;
    //   bottom: -8px;
    //   width: 95%;
    //   height: 100%;
    //   left: 0;
    //   clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    //   transition: clip-path 0.3s ease;
    // }
    // &:hover::after {
    //   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    // }
  }

  &__submit {
    padding: 0; // Make the whole <input> clickable

    & p {
      text-align: center;
    }

    & input {
      @include clear-styles;
      padding: cross-media(7px, 991px, 14px) cross-media(32px, 991px, 64px);
      font-size: cross-media(12px, 991px, 13px);

      @include view(ultra) {
        font-size: cross-media(
          13px,
          $ultra-breakpoint,
          calc(13px * $ultra-scale)
        );
      }
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.048em;
      cursor: pointer;
      transition: color ease 300ms;
    }
    &:hover {
      & input {
        color: $white;
      }
    }
  }

  & .wpcf7-spinner {
    display: none;
  }
}
