.body {
  overflow-x: hidden;
  background-color: $primary;
  font-family: "Montserrat";
}

.white-menu-items {
  & .header__logo {
    filter: invert(100%);
  }

  & .main-menu {
    & a {
      color: $white;
    }
  }

  // Sticky Header
  & .header--sticky {
    background-color: $primary;
    & .header__logo {
      filter: revert;
    }

    & .main-menu {
      & a {
        color: $black;
      }
    }
  }
}

a {
  @include clear-styles;
}

ul,
li {
  @include clear-styles;
}

button {
  cursor: pointer;
}
