.body {
  overflow-x: hidden;
  background-color: $primary;
  font-family: "Montserrat";
}

.white-menu-items {
  & .header__logo,
  .hamburger {
    filter: invert(100%);
  }

  & .main-menu {
    & a {
      @include view(lg-min) {
        color: $white;
      }
    }
  }

  // Sticky Header
  & .header--sticky,
  & .header--dropdown {
    & .header__logo {
      filter: revert;
    }

    & .main-menu {
      & a {
        color: $black;
      }
    }
  }

  // & .header--dropdown {
  //   background-color: $primary;
  // }
}

a {
  @include clear-styles;
}

ul,
li {
  @include clear-styles;
}

button {
  cursor: pointer;
}
