// Header
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding-block: cross-media(32px, 991px, 64px);

  &--sticky {
    & .header__logo-container {
      @include view(md-max) {
        opacity: 0;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 270px;
  }

  & ul {
    @include clear-styles;
  }
}

// Main Menu
.main-menu {
  text-transform: uppercase;

  &__list {
    display: flex;
    gap: cross-media(32px, 991px, 64px);
    position: relative;

    & ul {
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }

    & a {
      color: $black;
      // Font styles will be the CSS rules of the correct typography class
    }
  }
}

// Hero
.hero {
  min-height: 1200px;
  padding-top: cross-media(150px, 991px, 350px);
  text-align: center;

  &__container {
    border: solid 2px red;
  }
}

// Footer
.footer {
  background-color: white;

  &__top {
    padding-block: cross-media(32px, 991px, 64px);
    background-color: $secondary;
    color: $white;
  }

  &__top-container,
  &__bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  &__top-right,
  &__bottom-right {
    display: grid;
    justify-items: end;
    gap: cross-media(20px, 991px, 40px);
  }

  &__social,
  &__social-icons {
    display: flex;
    justify-content: end;
    gap: cross-media(20px, 991px, 40px);
  }

  &__newsletter {
    // Contact Form 7
    & form {
      display: flex;
      align-items: center;
      gap: 12px;

      & p {
        display: flex;
        align-items: center;
      }

      & .newsletter__input-container {
        width: fit-content;
      }

      & input,
      & .newsletter__submit {
        @include clear-styles;
        background-color: $white;
        padding: 7px 14px;
      }

      & input {
        &::placeholder {
          color: $black;
        }
      }

      & .newsletter__submit {
        cursor: pointer;
      }

      & .wpcf7-spinner {
        display: none;
      }
    }
  }

  &__bottom {
    padding-block: cross-media(12px, 991px, 18px);

    & a {
      color: $black;
    }
  }

  // &__container {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }

  &__logo {
    max-width: 150px;
  }

  & ul {
    @include clear-styles;
  }
}

.footer-menu {
  text-transform: uppercase;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;

    & ul {
      & li {
        // background-color: red;
        text-transform: none;
      }
    }
  }

  & a {
    color: $white;
    // Font styles will be the CSS rules of the correct typography class
  }
}

.privacy-menu {
  &__list {
    display: flex;
    gap: cross-media(20px, 991px, 40px);
  }
}

// Hero
// .hero {
//   background-color: $secondary;
// }
