// Header
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: transparent;
  // backdrop-filter: blur(10px);
  padding-block: cross-media(32px, 991px, 64px);
  // mix-blend-mode: difference;
  // border: solid 1px red;
  transition: background-color ease 300ms;

  @include view(md-max) {
    width: 100vw;
  }

  // &--sticky,
  // &--dropdown {
  //   // & .header__logo-container {
  //   //   @include view(md-max) {
  //   //     opacity: 0;
  //   //   }
  //   // }
  // }

  &--mobile-menu-open {
    & .header__logo {
      @include view(md-max) {
        filter: invert(0%);
      }
    }
  }

  &--sticky {
    background-color: $primary;
  }

  &__container {
    // position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include view(lg-min) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    // @include view(md-max) {
    //   justify-content: center;
    // }
  }

  &__logo-container {
    // margin-inline: auto;

    @include view(lg-min) {
      justify-self: center;
    }

    @include view(md-max) {
      // position: absolute;
      z-index: 1;
      // border: solid 3px red;
      // width: 100%;
      right: 0;
      left: 0;
      margin: auto;
    }
  }

  &__logo {
    max-width: cross-media(150px, 991px, 270px);
    transition: all ease 300ms;

    @include view(md-max) {
      margin-inline: auto;
    }

    @include view(ultra) {
      min-width: cross-media(
        150px,
        $ultra-breakpoint,
        calc(150px * $ultra-scale)
      );
    }
  }

  & ul {
    margin: 0;
    // padding-inline: 0;
    list-style-type: none;
  }

  @include view(md-max) {
    z-index: 1001;
  }
}

// Main Menu
.main-menu {
  // display: none;
  // z-index: 1000;
  text-transform: uppercase;

  &--2 {
    @include view(lg-min) {
      justify-self: end;
    }
  }

  &__list {
    display: flex;
    gap: cross-media(32px, 991px, 64px);
    position: relative;

    @include view(md-max) {
      position: absolute;
      flex-direction: column;
      gap: cross-media(10px, 767px, 20px);
      height: 100dvh;
      top: 0;
      right: 0;
      left: 0;
      padding: 160px 20px 40px;
      background-color: $primary;
      transform: translateY(-100%);
      will-change: transform;
    }

    & > li > a {
      font-weight: 500;
    }

    .sub-menu {
      position: absolute;
      padding-top: cross-media(10px, 991px, 36px);

      visibility: hidden;
      opacity: 0;
      // transition: all ease 300ms;

      @include view(md-max) {
        position: revert;
        visibility: visible;
        opacity: 1;
      }

      & li {
        @include view(md-max) {
          margin-bottom: 4px;
        }
      }

      & a {
        text-transform: none;

        @include view(md-max) {
          font-size: cross-media(16px, 991px, 18px);
          font-weight: revert;
        }
      }
    }

    & a {
      color: $black;
      // color: $white; // For mix-blend-more: difference
      // Font styles will be the CSS rules of the correct typography class
      font-size: cross-media(10px, 991px, 12px);
      transition: color ease 300ms;

      @include view(ultra) {
        font-size: cross-media(
          12px,
          $ultra-breakpoint,
          calc(12px * $ultra-scale)
        );
      }

      @include view(md-max) {
        font-size: cross-media(20px, 767px, 24px);
        font-weight: 700;
      }
    }
  }

  & li {
    z-index: 1;
  }

  &__dropdown-background {
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: $primary;
    width: 100%;
    height: 300px;
    // clip-path: ellipse(50% 0% at 50% 0%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    // transition: clip-path ease 500ms;

    &--open {
      // clip-path: ellipse(70% 70% at 50% 0%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
  &.menu {
    &__hover-effect {
      a {
        color: $accent;
        &::before {
          color: $black;
        }
      }
    }
  }
  & .menu-item-has-children > a {
    color: $black;
  }
}

.white-menu-items {
  & .menu {
    &__hover-effect {
      a {
        color: rgba($secondary, 0.7);
        &::before {
          @include view(lg-min) {
            color: $white;
          }
        }
      }
    }
  }
  & .menu-item-has-children > a {
    @include view(lg-min) {
      color: $white;
    }
  }
}

.header--dropdown,
.header--sticky {
  & .menu {
    &__hover-effect,
    &__hover-effect .sub-menu {
      & a {
        color: $accent !important;
        &::before {
          color: $black !important;
        }
      }
    }
  }
  & .menu-item-has-children > a {
    color: $black !important;
  }
}

// Hero
.hero {
  position: relative;
  z-index: -1;
  min-height: cross-media(800px, 991px, 1200px);
  padding-top: cross-media(150px, $box, 350px);
  margin-bottom: 20px;
  text-align: center;

  // @include view(ultra) {
  //   padding-top: cross-media(
  //     350px,
  //     $ultra-breakpoint,
  //     calc(350px * $ultra-scale)
  //   );

  //   margin-bottom: cross-media(
  //     20px,
  //     $ultra-breakpoint,
  //     calc(20px * $ultra-scale)
  //   );
  // }

  &__background {
    position: absolute;
    z-index: -1;
    // top: 0;
    // right: 0;
    // left: 0;
    inset: 0;
    margin: auto;
    overflow: hidden;
    height: 100%;
  }

  &__background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__heading {
    display: grid;
  }

  &--inner {
    min-height: cross-media(800px, 991px, 1080px);
    background-color: $secondary;
    & .hero__heading {
      margin-bottom: cross-media(35px, 991px, 50px);
    }
    & .hero__background {
      opacity: 0.8;
    }
  }
}

// Intro
.intro {
  &__heading {
    padding-bottom: cross-media(35px, 991px, 50px);
  }
  &__text {
    padding-block: cross-media(25px, 991px, 40px);
  }
}

// Main Grid
.main-grid {
  &--inner {
    padding-top: cross-media(40px, 991px, 100px);

    @include view(ultra) {
      padding-top: cross-media(
        100px,
        $ultra-breakpoint,
        calc(100px * $ultra-scale)
      );
    }
  }
  &__item {
    gap: cross-media(60px, 1920px, 180px);
    margin-bottom: cross-media(150px, 1800px, 280px);
    &-text-container {
      max-width: 545px;
      justify-self: right;
      padding-top: 10%;

      @include view(ultra) {
        max-width: cross-media(
          545px,
          $ultra-breakpoint,
          calc(545px * $ultra-scale)
        );
      }
    }
    &-text {
      padding-block: cross-media(25px, 991px, 35px);
    }
    &-image-container {
      justify-self: center;
      position: relative;
      width: 100%;
    }
    &-image {
      height: 100%;
      object-fit: cover;
      &.image-with-tiles {
        width: 70%;
        margin-left: 12%;
      }
    }
    &-image-sl {
      position: absolute;
      width: 26%;
      top: 10%;
      left: 0;
    }
    &-image-sr {
      position: absolute;
      width: 32%;
      top: 40%;
      right: 0;
    }
    &:nth-child(2n) {
      & .main-grid__item-text-container {
        order: 1;
        justify-self: left;
      }
    }
    &--wide-image {
      &.two-col {
        @include view(lg-min) {
          grid-template-columns: 1fr 2fr;
        }
      }
      & .main-grid__item-text-container {
        max-width: 390px;
      }
    }
    @include view(md-max) {
      justify-content: center;
      &-text-container {
        order: 1;
        max-width: 100%;
        padding-top: 0;
        justify-self: center;
      }
      &-image {
        margin-inline: auto;
      }
    }
  }
}

// Carousel
.carousel {
  padding-block: cross-media(40px, 991px, 60px);

  &__track {
    display: flex;
    gap: cross-media(28px, 991px, 56px);
  }

  &__item {
    flex-shrink: 0;
    display: grid;
    gap: 20px;
    max-width: cross-media(300px, 991px, 500px);
    user-select: none;

    @include view(ultra) {
      min-width: calc($box-4k / 3.6);

      & img {
        width: 100%;
      }
    }
  }

  // &__img-container {
  //   min-width: cross-media(300px, 991px, 540px);
  // }

  &__heading {
    display: grid;
  }
}

// Fullscreen Carousel
.carousel-double {
  position: relative;
  margin-top: cross-media(60px, 1920px, 180px);
}

.carousel-image {
  position: relative;
  max-height: 900px;

  @include view(ultra) {
    max-height: cross-media(900px, 3000px, 1800px);
  }

  &__slide {
    & img {
      width: 100%;
      object-fit: cover;
    }
    &:after {
      content: "";
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(230, 221, 212, 1) 0%,
        rgba(110, 108, 108, 1) 100%
      );
      opacity: 0.7;
      inset: 0;
    }
  }
}

.carousel-text {
  position: absolute;
  top: 0;
  color: $white;

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-align: center;
    pointer-events: none;

    @include view(md-max) {
      width: 100%;
    }
  }
}

.lightbox {
  background-color: $primary;
  position: fixed;
  z-index: 99999;
  inset: 0;

  @include view(lg-min) {
    display: grid;
    place-items: center;
  }

  &__container {
    @include view(md-max) {
      margin-top: 50%;
    }
  }

  &__close {
    text-align: right;
    color: $black;
    cursor: pointer;
  }

  // &__navigation {
  //   position: absolute;
  //   inset: 0;
  //   margin: auto;
  //   background-color: red;
  // }

  &__button {
    display: flex;
    // display: block;
    // height: 0;
    // border: solid 2px red;

    // width: 100%;
    color: $white;
    &::after {
      @include icon("\e902");

      font-size: cross-media(20px, 991px, 30px);
      line-height: 1.3em;
      letter-spacing: 0;
      color: $black;

      @include view(ultra) {
        font-size: cross-media(
          30px,
          $ultra-breakpoint,
          calc(30px * $ultra-scale)
        );
      }
    }

    &--previous {
      justify-content: end;
      text-align: right;
      transform: rotate(180deg);
      // transform-origin: center right;
      left: 40px;

      @include view(ultra) {
        left: cross-media(60px, $ultra-breakpoint, calc(60px * $ultra-scale));
      }
    }

    &--next {
      right: 40px;

      @include view(ultra) {
        right: cross-media(60px, $ultra-breakpoint, calc(60px * $ultra-scale));
      }
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
  // pointer-events: none;
}

.swiper-wrapper {
  transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
}

// .swiper-slide {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .swiper {
//   width: 100%;
//   height: 300px;
//   margin-left: auto;
//   margin-right: auto;
// }

// .swiper-slide {
//   background-size: cover;
//   background-position: center;
// }

.mySwiper2 {
  max-height: 100vh;

  & .swiper-wrapper {
    @include view(md-max) {
      max-height: 300px;
    }
  }
}

.mySwiper {
  height: 20%;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide img {
  max-height: 700px;
  margin: auto;
  // aspect-ratio: 16/9;

  @include view(ultra) {
    max-height: cross-media(
      700px,
      $ultra-breakpoint,
      calc(700px * $ultra-scale)
    );
  }
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper .swiper-slide img {
  object-fit: cover;
  aspect-ratio: 16/9;
}
.swiper-slide img {
  display: block;
  // width: 100%;
  // aspect-ratio: 16/9;
  // object-fit: cover;
}

// Text Banner
.text-banner {
  text-align: center;
  padding-block: cross-media(40px, 991px, 80px) cross-media(80px, 991px, 160px);

  &__button {
    margin-top: cross-media(40px, 991px, 80px);
  }
}

// FAQ
.faq {
  padding-bottom: cross-media(100px, 991px, 200px);
}
.faq-accordion {
  &__item {
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    cursor: pointer;
  }
  &__text-container {
    display: grid;
    gap: 20px;
    max-width: 600px;
    padding-top: 30px;
    overflow: hidden;
  }

  &__content {
    max-height: 0;
    transition: max-height ease 300ms;
    // padding-block: 60px 40px;
  }
}

// Footer
.footer {
  position: relative;
  z-index: 100;
  background-color: $white;
  font-size: cross-media(10px, 991px, 12px);

  @include view(ultra) {
    font-size: cross-media(12px, $ultra-breakpoint, calc(12px * $ultra-scale));
  }

  &__top {
    padding-block: cross-media(32px, 991px, 64px);
    background-color: $accent;
    color: $white;
    font-weight: 700;
  }

  &__top-container,
  &__bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @include view(md-max) {
      grid-template-columns: 1fr;
      // justify-items: center;
    }
  }

  &__top-right,
  &__bottom-right {
    display: grid;
    justify-items: end;
    gap: cross-media(20px, 991px, 40px);
    @include view(md-max) {
      justify-items: start;
    }
  }

  &__social,
  &__social-icons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: cross-media(30px, 991px, 60px);
  }

  &__newsletter {
    // Contact Form 7
    & form {
      display: flex;
      align-items: center;
      gap: 12px;

      @include view(md-max) {
        flex-direction: column;
        align-items: start;
      }

      & p {
        display: flex;
        align-items: center;
      }

      & .newsletter__input-container {
        width: fit-content;
      }

      & input,
      & .newsletter__submit {
        @include clear-styles;
        background-color: $white;
        padding: 7px 14px;
      }

      & input {
        font-weight: 400;
        &::placeholder {
          color: $black;
        }
      }

      & .newsletter__submit {
        cursor: pointer;
      }

      & .newsletter__label {
        line-height: 1.2;
      }

      & .wpcf7-spinner {
        display: none;
      }
    }
  }

  &__bottom {
    padding-block: cross-media(12px, 991px, 18px);

    @include view(md-max) {
      padding-bottom: 40px;
    }

    & a {
      color: $black;
    }
  }

  // &__container {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }

  &__logo {
    max-width: 150px;
  }

  & ul {
    @include clear-styles;
  }
}

.footer-menu {
  text-transform: uppercase;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // column-gap: 100px;
    align-items: start;

    // & > li {
    //   background-color: red;
    // }

    & > .menu-item-has-children {
      grid-row: span 4;
      & > a {
        color: $white !important;
        cursor: default;
      }
    }

    & .sub-menu {
      padding-top: 20px;
    }

    & ul {
      & li {
        font-weight: 400;
        text-transform: none;
      }
    }

    @include view(md-max) {
      grid-template-columns: 1fr;
      align-items: center;
      // justify-items: center;
      text-align: center;
      gap: 10px;
    }
  }

  & a {
    color: $white;
    // Font styles will be the CSS rules of the correct typography class
    font-size: cross-media(10px, 991px, 12px);
  }

  @include view(md-max) {
    margin-bottom: 20px;
  }
  &.menu {
    &__hover-effect {
      a {
        color: rgba($secondary, 0.5);
        &::before {
          color: $white;
        }
      }
    }
  }
}

.privacy-menu {
  &__list {
    display: flex;
    gap: cross-media(20px, 991px, 40px);
  }
}
