//Curves
.philosophy-curves {
  &__container {
    min-height: 350px;
    background-image: url(./../../assets/img/curve-with-gradient.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: initial;
  }
  &__text {
    padding-block: cross-media(60px, 991px, 100px);
  }
}
// Bottom grid
.bottom-grid {
  & .main-grid__item-text-container {
    @include view(lg-min) {
      justify-self: left;
    }
  }
}
