.body {
  font-family: "Montserrat";
}

.serif {
  font-family: "Unna", serif;
  font-style: italic;
}

.sans-serif {
  font-family: "Montserrat", sans-serif;
}

// Headings
h1,
.heading-l {
  font-size: cross-media(50px, 991px, 80px);
  letter-spacing: -0.02em;
  line-height: 1.1;
  font-weight: 300;
}

.heading-ml {
  font-size: cross-media(42px, 991px, 60px);
  letter-spacing: -0.04em;
  line-height: 1.25;
}

h2,
.heading {
  font-size: cross-media(35px, 991px, 50px);
  line-height: 1;
  font-weight: 400;
}

h3,
.heading-ms {
  font-size: cross-media(28px, 991px, 40px);
  line-height: 1.1;
  font-weight: 400;
}

h4,
.heading-s {
  font-size: cross-media(20px, 991px, 30px);
  line-height: 1.3em;
  letter-spacing: 0;
}

// Texts
.text-l {
  font-size: cross-media(20px, 991px, 22px);
}

.text-ml {
  font-size: cross-media(18px, 991px, 20px);
}

p,
.text {
  font-size: cross-media(14px, 991px, 16px);
  line-height: 1.56;
}

.text-ms {
  font-size: cross-media(12px, 991px, 14px);
}

.text-s {
  font-size: cross-media(10px, 991px, 12px);
}

.button {
  font-size: cross-media(12px, 991px, 13px);
  letter-spacing: 0.048em;
  font-weight: 700;
  text-transform: uppercase;
}
