// Positioning/ Spacing
.boxed {
  max-width: $box + $padding-inline;
  padding-inline: $padding-inline;

  @include view(ultra) {
    max-width: $box-4k + $padding-inline;
  }
}

.boxed-desktop {
  @include view(lg-min) {
    max-width: $box + $padding-inline;
    padding-inline: $padding-inline;
  }
}

.boxed-s {
  max-width: $box-s + $padding-inline;
  padding-inline: $padding-inline;

  @include view(ultra) {
    max-width: $box-s-4k + $padding-inline;
  }
}

.boxed-xs {
  max-width: $box-xs + $padding-inline;
  padding-inline: $padding-inline;

  @include view(ultra) {
    max-width: $box-xs-4k + $padding-inline;
  }
}

.centered {
  margin-inline: auto;
}

.centered-text {
  text-align: center;
}

.two-col {
  display: grid;

  @include view(lg-min) {
    grid-template-columns: 1fr 1fr;
  }
}

.first-section {
  padding-top: cross-media(150px, $box, 350px);

  @include view(ultra) {
    padding-top: cross-media(
      350px,
      $ultra-breakpoint,
      calc(350px * $ultra-scale)
    );
  }
}

// Typography
.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.center-align {
  text-align: center;
}

ul {
  & li {
    margin-bottom: 10px;
  }
}

.white-text {
  color: $white;
}

// Visibility
.hidden {
  display: none !important;
}

.hidden-desktop {
  @include view(lg-min) {
    display: none !important;
  }
}

.hidden-mobile {
  @include view(md-max) {
    display: none !important;
  }
}
