// Colors
$white: #fff;
$black: #000;
$primary: #eceaea;
$accent: #a19696;
$secondary: #3b3232;

// Boxes
$box: 1800px;
$box-s: 1280px;
$box-xs: 1000px;

// Padding
$padding-inline: 20px;
$padding-inline-laptop: 60px;
